name: CI

on:
  push:
    branches:
      - main
      - "feature/**"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: teamhub_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/teamhub_test
      env: DEVELOPMENT
      MAILERSEND_API_KEY: mlsn.23485ff8bba779387b4e74e8d6ae972d9874ff5acddc3d89a56611ec8c327117
      MAIL_FROM_EMAIL: test@sandbox.mailersend.net
      MAIL_FROM_NAME: Teamhub
      FRONTEND_VERIFY_URL: http://localhost:3000/auth/verify
      port: 8002

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run database migrations
        run: |
          alembic upgrade head

      - name: Run tests
        working-directory: app
        run: |
          pytest --cov=app --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: app/coverage.xml
